name: Deploy Pod to Kubernetes

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: self-hosted

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Generate random ID
      id: rnd
      shell: pwsh
      run: |
        $RANDOM_ID = Get-Date -UFormat %s
        echo "RANDOM_ID=$RANDOM_ID" >> $env:GITHUB_ENV

    - name: Create Final Pod File
      shell: pwsh
      run: |
        (Get-Content pod-template.yml).Replace("{ID}", $env:RANDOM_ID) | Set-Content pod.yml
        echo "Generated pod name: mypod-$env:RANDOM_ID"

    - name: Apply Pod to Kubernetes
      shell: pwsh
      run: kubectl apply -f pod.yml

    - name: Verify Pods
      shell: pwsh
      run: kubectl get pods
