name: Test Kubernetes pipeline

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: self-hosted

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Verify kubectl version
      run: kubectl version --client
