name: Starting Pipeline

on:
  workflow_dispatch:

jobs:
  first-pipeline:
    runs-on: ubuntu-latest

    steps:
      - name: Check out code repository
        uses: actions/checkout@v4

      - name: Print Hello
        run: echo "Pipeline is running ✅"

      # ✅ Build Docker image
      - name: Build Docker image
        run: docker build -t hello-world-nginx:v1 .

      # ✅ Run Docker container for testing
      - name: Run Docker container
        run: |
          docker run -d -p 8080:80 --name test-container hello-world-nginx:v1
          sleep 5
          curl -I http://localhost:8080
